{
  "Version": "2012-10-17",
  "Statement": [
    {
      "Sid": "STSIdentity",
      "Effect": "Allow",
      "Action": "sts:GetCallerIdentity",
      "Resource": "*"
    },
    {
      "Sid": "PassRole",
      "Effect": "Allow",
      "Action": "iam:PassRole",
      "Resource": [
        "arn:aws:iam::${AWS_ACCOUNT_ID}:role/workshop-${UNIQUE_ID}-cluster-role",
        "arn:aws:iam::${AWS_ACCOUNT_ID}:role/workshop-${UNIQUE_ID}-nodegroup-role",
        "arn:aws:iam::${AWS_ACCOUNT_ID}:role/cast*workshop-${UNIQUE_ID}*",
        "arn:aws:iam::${AWS_ACCOUNT_ID}:role/cast-eks-*workshop-${UNIQUE_ID}*"
      ],
      "Condition": {
        "StringEquals": {
          "iam:PassedToService": [
            "eks.amazonaws.com",
            "ec2.amazonaws.com",
            "autoscaling.amazonaws.com"
          ]
        }
      }
    },
    {
      "Sid": "ServiceLinkedRoles",
      "Effect": "Allow",
      "Action": "iam:CreateServiceLinkedRole",
      "Resource": "arn:aws:iam::${AWS_ACCOUNT_ID}:role/aws-service-role/*",
      "Condition": {
        "StringEquals": {
          "iam:AWSServiceName": [
            "eks.amazonaws.com",
            "autoscaling.amazonaws.com",
            "spot.amazonaws.com",
            "elasticloadbalancing.amazonaws.com"
          ]
        }
      }
    },
    {
      "Sid": "CastAIWrite",
      "Effect": "Allow",
      "Action": [
        "iam:CreateRole",
        "iam:GetRole",
        "iam:TagRole",
        "iam:UntagRole",
        "iam:UpdateAssumeRolePolicy",
        "iam:AttachRolePolicy",
        "iam:PutRolePolicy",
        "iam:CreatePolicy",
        "iam:GetPolicy",
        "iam:GetPolicyVersion",
        "iam:TagPolicy",
        "iam:UntagPolicy",
        "iam:CreateInstanceProfile",
        "iam:GetInstanceProfile",
        "iam:TagInstanceProfile",
        "iam:UntagInstanceProfile",
        "iam:AddRoleToInstanceProfile"
      ],
      "Resource": [
        "arn:aws:iam::${AWS_ACCOUNT_ID}:role/cast*workshop-${UNIQUE_ID}*",
        "arn:aws:iam::${AWS_ACCOUNT_ID}:role/cast-eks-*workshop-${UNIQUE_ID}*",
        "arn:aws:iam::${AWS_ACCOUNT_ID}:policy/CastEKSPolicy*",
        "arn:aws:iam::${AWS_ACCOUNT_ID}:instance-profile/cast*workshop-${UNIQUE_ID}*",
        "arn:aws:iam::${AWS_ACCOUNT_ID}:instance-profile/cast-eks-*workshop-${UNIQUE_ID}*"
      ]
    },
    {
      "Sid": "IAMList",
      "Effect": "Allow",
      "Action": [
        "iam:ListPolicies",
        "iam:ListPolicyVersions"
      ],
      "Resource": "*"
    },
    {
      "Sid": "EKSCluster",
      "Effect": "Allow",
      "Action": [
        "eks:DescribeCluster",
        "eks:DeleteCluster",
        "eks:UpdateClusterConfig",
        "eks:UpdateClusterVersion",
        "eks:CreateFargateProfile",
        "eks:DeleteFargateProfile",
        "eks:DescribeFargateProfile",
        "eks:ListFargateProfiles",
        "eks:CreateAccessEntry",
        "eks:DeleteAccessEntry",
        "eks:ListAccessEntries",
        "eks:AssociateAccessPolicy",
        "eks:DisassociateAccessPolicy",
        "eks:TagResource",
        "eks:UntagResource"
      ],
      "Resource": "arn:aws:eks:${AWS_REGION}:${AWS_ACCOUNT_ID}:cluster/workshop-${UNIQUE_ID}"
    },
    {
      "Sid": "EKSAccessEntries",
      "Effect": "Allow",
      "Action": [
        "eks:CreateAccessEntry",
        "eks:DeleteAccessEntry",
        "eks:DescribeAccessEntry",
        "eks:ListAccessEntries",
        "eks:AssociateAccessPolicy",
        "eks:DisassociateAccessPolicy",
        "eks:TagResource",
        "eks:UntagResource"
      ],
      "Resource": [
        "arn:aws:eks:${AWS_REGION}:${AWS_ACCOUNT_ID}:cluster/workshop-${UNIQUE_ID}",
        "arn:aws:eks:${AWS_REGION}:${AWS_ACCOUNT_ID}:access-entry/workshop-${UNIQUE_ID}/*"
      ]
    },
    {
      "Sid": "EKSNg",
      "Effect": "Allow",
      "Action": [
        "eks:DescribeNodegroup",
        "eks:CreateNodegroup",
        "eks:DeleteNodegroup",
        "eks:UpdateNodegroupConfig",
        "eks:UpdateNodegroupVersion",
        "eks:TagResource",
        "eks:UntagResource"
      ],
      "Resource": [
        "arn:aws:eks:${AWS_REGION}:${AWS_ACCOUNT_ID}:cluster/workshop-${UNIQUE_ID}",
        "arn:aws:eks:${AWS_REGION}:${AWS_ACCOUNT_ID}:nodegroup/workshop-${UNIQUE_ID}/*"
      ]
    },
    {
      "Sid": "EKSList",
      "Effect": "Allow",
      "Action": [
        "eks:ListClusters",
        "eks:ListNodegroups",
        "eks:ListAddons",
        "eks:ListIdentityProviderConfigs",
        "eks:ListUpdates"
      ],
      "Resource": "*"
    },
    {
      "Sid": "EC2Mutate",
      "Effect": "Allow",
      "Action": [
        "ec2:CreateTags",
        "ec2:DeleteTags",
        "ec2:TerminateInstances",
        "ec2:StartInstances",
        "ec2:StopInstances",
        "ec2:ModifyInstanceAttribute",
        "ec2:DeleteLaunchTemplate",
        "ec2:DeleteLaunchTemplateVersions",
        "ec2:ModifyLaunchTemplate"
      ],
      "Resource": "*",
      "Condition": {
        "StringEquals": {
          "aws:ResourceTag/workshop-participant": "${UNIQUE_ID}"
        }
      }
    },
    {
      "Sid": "EC2Create",
      "Effect": "Allow",
      "Action": [
        "ec2:RunInstances",
        "ec2:CreateLaunchTemplate",
        "ec2:CreateLaunchTemplateVersion",
        "ec2:ImportKeyPair",
        "ec2:CreateKeyPair"
      ],
      "Resource": "*",
      "Condition": {
        "StringEquals": {
          "aws:RequestTag/workshop-participant": "${UNIQUE_ID}"
        }
      }
    },
    {
      "Sid": "EC2SecurityGroup",
      "Effect": "Allow",
      "Action": [
        "ec2:CreateSecurityGroup",
        "ec2:AuthorizeSecurityGroupIngress",
        "ec2:AuthorizeSecurityGroupEgress",
        "ec2:RevokeSecurityGroupIngress",
        "ec2:RevokeSecurityGroupEgress",
        "ec2:DeleteSecurityGroup",
        "ec2:CreateTags",
        "ec2:DeleteTags"
      ],
      "Resource": [
        "arn:aws:ec2:${AWS_REGION}:${AWS_ACCOUNT_ID}:security-group/*",
        "arn:aws:ec2:${AWS_REGION}:${AWS_ACCOUNT_ID}:vpc/*"
      ]
    },
    {
      "Sid": "EC2Describe",
      "Effect": "Allow",
      "Action": [
        "ec2:DescribeInstances",
        "ec2:DescribeInstanceAttribute",
        "ec2:DescribeInstanceTypes",
        "ec2:DescribeInstanceCreditSpecifications",
        "ec2:DescribeTags",
        "ec2:DescribeLaunchTemplates",
        "ec2:DescribeLaunchTemplateVersions",
        "ec2:DescribeCapacityReservations",
        "ec2:DescribeSecurityGroups",
        "ec2:DescribeSubnets",
        "ec2:DescribeVpcs",
        "ec2:DescribeAddresses",
        "ec2:DescribeAvailabilityZones",
        "ec2:DescribeRegions",
        "ec2:DescribeImages",
        "ec2:DescribeKeyPairs",
        "ec2:DescribeVolumes",
        "ec2:DescribeSnapshots"
      ],
      "Resource": "*"
    },
    {
      "Sid": "ASGMutate",
      "Effect": "Allow",
      "Action": [
        "autoscaling:CreateAutoScalingGroup",
        "autoscaling:DeleteAutoScalingGroup",
        "autoscaling:UpdateAutoScalingGroup",
        "autoscaling:SuspendProcesses",
        "autoscaling:ResumeProcesses",
        "autoscaling:TerminateInstanceInAutoScalingGroup",
        "autoscaling:AttachInstances",
        "autoscaling:DetachInstances",
        "autoscaling:CreateOrUpdateTags",
        "autoscaling:DeleteTags"
      ],
      "Resource": "*",
      "Condition": {
        "StringEquals": {
          "aws:ResourceTag/workshop-participant": "${UNIQUE_ID}"
        }
      }
    },
    {
      "Sid": "ASGCreate",
      "Effect": "Allow",
      "Action": [
        "autoscaling:CreateAutoScalingGroup",
        "autoscaling:CreateOrUpdateTags"
      ],
      "Resource": "*",
      "Condition": {
        "StringEquals": {
          "aws:RequestTag/workshop-participant": "${UNIQUE_ID}"
        }
      }
    },
    {
      "Sid": "ASGDescribe",
      "Effect": "Allow",
      "Action": [
        "autoscaling:DescribeAutoScalingGroups",
        "autoscaling:DescribeAutoScalingInstances",
        "autoscaling:DescribeLaunchConfigurations",
        "autoscaling:DescribeTags",
        "autoscaling:DescribePolicies",
        "autoscaling:DescribeScalingActivities"
      ],
      "Resource": "*"
    },
    {
      "Sid": "EKSOIDC",
      "Effect": "Allow",
      "Action": "iam:GetOpenIDConnectProvider",
      "Resource": "arn:aws:iam::${AWS_ACCOUNT_ID}:oidc-provider/oidc.eks.${AWS_REGION}.amazonaws.com/id/*"
    }
  ]
}
